<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Guida TV</string>
	<key>CFBundleIdentifier</key>
	<string>it.emeraldion.widget.guidatv</string>
	<key>CFBundleName</key>
	<string>Guida TV</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
	<key>CFBundleVersion</key>
	<string>0.9.1</string>
	<key>CloseBoxInsetX</key>
	<integer>9</integer>
	<key>CloseBoxInsetY</key>
	<integer>7</integer>
	<key>Height</key>
	<integer>233</integer>
	<key>MainHTML</key>
	<string>GuidaTV.html</string>
	<key>Width</key>
	<integer>368</integer>
</dict>
</plist>
