/**
 *	GuidaTV Widget
 *
 *	Copyright 2005-2007 Claudio Procida. All rights reserved.
 *	http://www.emeraldion.it
 * 
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 * 
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 * 
 *  Bug fixes, suggestions and comments should be sent to:
 *  claudio@emeraldion.it
 *
 */

#myScrollBar {
	position: absolute;
	left: 348px;
	top: 20px;
	bottom: 28px;
	width: 8px;
	display: block;
	z-index: 2000;
	-apple-dashboard-region:dashboard-region(control rectangle);
}

.scrollTrackTop {
	position:absolute;
	top:0;
	width:8px;
	height:10px;
	background:url(img/scroll-top.png);
	background-repeat:no-repeat;
	background-position:top left;
}
.scrollTrackMid {
	position:absolute;
	top:10px;
	width:8px;
	bottom:10px;
	background:url(img/scroll-mid.png);
	background-repeat:repeat-y;
	background-position:top left;
}
.scrollTrackBot {
	position:absolute;
	bottom:0;
	width:8px;
	height:10px;
	background:url(img/scroll-bottom.png);
	background-repeat:no-repeat;
	background-position:top left;
}

/* Scroller thumb	*/
#myScrollThumb {
	position:absolute;
	top:0;
	left:1px;
	height:30px;
	display:block;
}
.scrollThumbTop {
	position:absolute;
	top:0;
	width:8px;
	height:10px;
	background:url(img/scroll-thumb-top.png);
	background-repeat:no-repeat;
	background-position:top left;
}
.scrollThumbMid {
	position:absolute;
	top:10px;
	width:8px;
	bottom:10px;
	background:url(img/scroll-thumb-mid.png);
	background-repeat:repeat-y;
	background-position:top left;
}
.scrollThumbBot {
	position:absolute;
	bottom:0;
	width:8px;
	height:10px;
	background:url(img/scroll-thumb-bottom.png);
	background-repeat:no-repeat;
	background-position:top left;
}
